In [2]:
#import the library
import numpy as np
import pandas as pd
from pandas import read_csv
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn import tree

In [3]:
dataset = read_csv('diabetes.csv')
print(dataset.describe())

       pregenancy      plasma  blood pressure  Triceps thickness  \
count  768.000000  768.000000      768.000000         768.000000
mean     3.845052  120.894531       69.105469          20.536458
std      3.369578   31.972618       19.355807          15.952218
min      0.000000    0.000000        0.000000           0.000000
25%      1.000000   99.000000       62.000000           0.000000
50%      3.000000  117.000000       72.000000          23.000000
75%      6.000000  140.250000       80.000000          32.000000
max     17.000000  199.000000      122.000000          99.000000

       serum insulin         BMI  pedigree function         Age   ethnicity  \
count     768.000000  768.000000         768.000000  768.000000  768.000000
mean       79.799479   31.992578           0.471876   33.240885    1.000000
std       115.244002    7.884160           0.331329   11.760232    0.810621
min         0.000000    0.000000           0.078000   21.000000    0.000000
25%         0.000000   27.300000           0.243750   24.000000    0.000000
50%        30.500000   32.000000           0.372500   29.000000    1.000000
75%       127.250000   36.600000           0.626250   41.000000    2.000000
max       846.000000   67.100000           2.420000   81.000000    2.000000

            Class
count  768.000000
mean     0.348958
std      0.476951
min      0.000000
25%      0.000000
50%      0.000000
75%      1.000000
max      1.000000

In [4]:
dataset

,pregenancy,plasma,blood pressure,Triceps thickness,serum insulin,BMI,pedigree function,Age,ethnicity,Class
0,6,148,72,35,0,33.6,0.627,50,1,1
1,1,85,66,29,0,26.6,0.351,31,1,0
2,8,183,64,0,0,23.3,0.672,32,0,1
3,1,89,66,23,94,28.1,0.167,21,1,0
4,0,137,40,35,168,43.1,2.288,33,0,1
...,...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,1,0
764,2,122,70,27,0,36.8,0.340,27,2,0
765,5,121,72,23,112,26.2,0.245,30,2,0
766,1,126,60,0,0,30.1,0.349,47,1,1
767,1,93,70,31,0,30.4,0.315,23,1,0

In [5]:
######  mark missing data

#replace missing data with NaN
zero_not_accepted=['plasma','blood pressure','Triceps thickness','serum insulin','BMI']
for column in zero_not_accepted:
    print(column,(dataset[column] == 0).sum())
    dataset[column] = dataset[column].replace(0, np.NaN)


print(dataset.describe())

plasma 5
blood pressure 35
Triceps thickness 227
serum insulin 374
BMI 11
       pregenancy      plasma  blood pressure  Triceps thickness  \
count  768.000000  763.000000      733.000000         541.000000
mean     3.845052  121.686763       72.405184          29.153420
std      3.369578   30.535641       12.382158          10.476982
min      0.000000   44.000000       24.000000           7.000000
25%      1.000000   99.000000       64.000000          22.000000
50%      3.000000  117.000000       72.000000          29.000000
75%      6.000000  141.000000       80.000000          36.000000
max     17.000000  199.000000      122.000000          99.000000

       serum insulin         BMI  pedigree function         Age   ethnicity  \
count     394.000000  757.000000         768.000000  768.000000  768.000000
mean      155.548223   32.457464           0.471876   33.240885    1.000000
std       118.775855    6.924988           0.331329   11.760232    0.810621
min        14.000000   18.200000           0.078000   21.000000    0.000000
25%        76.250000   27.500000           0.243750   24.000000    0.000000
50%       125.000000   32.300000           0.372500   29.000000    1.000000
75%       190.000000   36.600000           0.626250   41.000000    2.000000
max       846.000000   67.100000           2.420000   81.000000    2.000000

            Class
count  768.000000
mean     0.348958
std      0.476951
min      0.000000
25%      0.000000
50%      0.000000
75%      1.000000
max      1.000000

In [9]:
#ToDo:
#split to data and target
X=dataset.iloc[:,:9] # features
y=dataset.iloc[:,9] # class
#split between test and train.

# use Imputer to deal with missing values

# use OneHotEncode for categorial data to catogrize 'ethenticity'

#normilize values

# balance the data

,pregenancy,plasma,blood pressure,Triceps thickness,serum insulin,BMI,pedigree function,Age,ethnicity
0,6,148.0,72.0,35.0,NaN,33.6,0.627,50,1
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,1
2,8,183.0,64.0,NaN,NaN,23.3,0.672,32,0
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,1
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,0
...,...,...,...,...,...,...,...,...,...
763,10,101.0,76.0,48.0,180.0,32.9,0.171,63,1
764,2,122.0,70.0,27.0,NaN,36.8,0.340,27,2
765,5,121.0,72.0,23.0,112.0,26.2,0.245,30,2
766,1,126.0,60.0,NaN,NaN,30.1,0.349,47,1
767,1,93.0,70.0,31.0,NaN,30.4,0.315,23,1

In [ ]:
# write a classifier named clf as decision tree
# use 3 depth trees {3,5,10} and find the best result
# use the next box to see the tree as a pdf
# which is of them is better and why?
https://scikit-learn.org/stable/auto_examples/tree/plot_unveil_tree_structure.html#sphx-glr-auto-examples-tree-plot-unveil-tree-structure-py
????

In [10]:
import graphviz
from sklearn import tree
dot_data = tree.export_graphviz(clf, out_file=None, feature_names=names, filled=True, rounded=True, class_names=['sick','healthy'] )
graph = graphviz.Source(dot_data)
graph.render("tree"+str(depth))

NameError: name 'clf' is not defined