# Data Wrangling with Pandas

We've seen how to get data with Python. Now let's do some stuff! From here on, we're going to mostly use the PyData stack rather than Python built-in functionality.

Our objective in this section is to learn enough to clean the larger sample of Chicago Health Inspection data and get it ready for modeling.

## Preliminaries: DataFrames

As mentioned, the core data structure in pandas is called a DataFrame. A DataFrame is a tabular data structure, holding many columns, similar to a spreadsheet.

The **Key Features** are

* Easy handling of **missing data**
* **Size mutability**: columns can be inserted and deleted from DataFrames
* Automatic and explicit **data alignment**: objects can be explicitly aligned to a set of labels, or the data can be aligned automatically
* Powerful, flexible **group by functionality** to perform split-apply-combine operations on data sets
* Intelligent label-based **slicing**, **fancy indexing**, and **subsetting** of large data sets
* Intuitive **merging and joining** data sets
* Flexible **reshaping and pivoting** of data sets
* **Hierarchical labeling** of axes
* Robust **IO tools** for loading data from flat files, Excel files, databases, and HDF5
* **Time series functionality**: 
  * date range generation and frequency conversion
  * moving window statistics
  * moving window linear regressions
  * date shifting and lagging, etc.

In [1]:
import pandas as pd
dta = pd.read_csv("health_inspection_chi.csv")

Pandas provides labelled **indices** to access rows and columns, should they have natural labels.

In [2]:
dta.index

RangeIndex(start=0, stop=25000, step=1)

In [3]:
dta.columns

Index(['address', 'aka_name', 'city', 'dba_name', 'facility_type',
       'inspection_date', 'inspection_id', 'inspection_type', 'latitude',
       'license_', 'location', 'longitude', 'results', 'risk', 'state',
       'violations', 'zip'],
      dtype='object')

For example, with this data set we have a natural unique identifier in the `inspection_id` column. We might wish to make this our index.

In [4]:
dta.head()

,address,aka_name,city,dba_name,facility_type,inspection_date,inspection_id,inspection_type,latitude,license_,location,longitude,results,risk,state,violations,zip
0,5255 W MADISON ST,RED SNAPPER FISH CHICKEN & PIZZA,CHICAGO,RED SNAPPER FISH CHICKEN & PIZZA,Restaurant,2016-09-26T00:00:00.000,1965287,Canvass,41.880237,1991820.0,"{'type': 'Point', 'coordinates': [-87.75722039...",-87.757220,Pass w/ Conditions,Risk 1 (High),IL,"35. WALLS, CEILINGS, ATTACHED EQUIPMENT CONSTR...",60644.0
1,5958 W DIVERSEY AVE,TAQUERIA MORELOS,CHICAGO,TAQUERIA MORELOS,Restaurant,2014-02-06T00:00:00.000,1329698,Canvass,41.931250,2099479.0,"{'type': 'Point', 'coordinates': [-87.77590699...",-87.775907,Pass,Risk 1 (High),IL,33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...,60639.0
2,5400-5402 N CLARK ST,HAMBURGER MARY'S/MARY'S REC ROOM,CHICAGO,HAMBURGER MARY'S CHICAGO/MARY'S REC ROOM,Restaurant,2010-12-03T00:00:00.000,470787,SFP,41.979884,1933748.0,"{'type': 'Point', 'coordinates': [-87.66842948...",-87.668429,Fail,Risk 1 (High),IL,"6. HANDS WASHED AND CLEANED, GOOD HYGIENIC PRA...",60640.0
3,2804 N CLARK ST,Wells Street Popcorn,CHICAGO,Wells Street Popcorn,Restaurant,2010-02-01T00:00:00.000,68091,Canvass,41.932921,1954774.0,"{'type': 'Point', 'coordinates': [-87.64515454...",-87.645155,Pass,Risk 2 (Medium),IL,NaN,60657.0
4,2409 N WESTERN AVE,CHICAGO CUPCAKE,CHICAGO,CHICAGO CUPCAKE LLC.,Mobile Food Dispenser,2013-05-03T00:00:00.000,1335320,License Re-Inspection,41.925218,2232391.0,"{'type': 'Point', 'coordinates': [-87.68750659...",-87.687507,Fail,Risk 3 (Low),IL,32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...,60647.0

In [5]:
dta = dta.set_index('inspection_id')

In [6]:
dta.index

Int64Index([1965287, 1329698,  470787,   68091, 1335320, 1228169, 1285582,
             557486,   74468, 1522863,
            ...
            2059403,  114871,  657253,  531556,  325228, 2059771, 1965378,
            1490395, 1326565,  413268],
           dtype='int64', name='inspection_id', length=25000)

In [7]:
dta.head()

,address,aka_name,city,dba_name,facility_type,inspection_date,inspection_type,latitude,license_,location,longitude,results,risk,state,violations,zip
inspection_id,,,,,,,,,,,,,,,,
1965287,5255 W MADISON ST,RED SNAPPER FISH CHICKEN & PIZZA,CHICAGO,RED SNAPPER FISH CHICKEN & PIZZA,Restaurant,2016-09-26T00:00:00.000,Canvass,41.880237,1991820.0,"{'type': 'Point', 'coordinates': [-87.75722039...",-87.757220,Pass w/ Conditions,Risk 1 (High),IL,"35. WALLS, CEILINGS, ATTACHED EQUIPMENT CONSTR...",60644.0
1329698,5958 W DIVERSEY AVE,TAQUERIA MORELOS,CHICAGO,TAQUERIA MORELOS,Restaurant,2014-02-06T00:00:00.000,Canvass,41.931250,2099479.0,"{'type': 'Point', 'coordinates': [-87.77590699...",-87.775907,Pass,Risk 1 (High),IL,33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...,60639.0
470787,5400-5402 N CLARK ST,HAMBURGER MARY'S/MARY'S REC ROOM,CHICAGO,HAMBURGER MARY'S CHICAGO/MARY'S REC ROOM,Restaurant,2010-12-03T00:00:00.000,SFP,41.979884,1933748.0,"{'type': 'Point', 'coordinates': [-87.66842948...",-87.668429,Fail,Risk 1 (High),IL,"6. HANDS WASHED AND CLEANED, GOOD HYGIENIC PRA...",60640.0
68091,2804 N CLARK ST,Wells Street Popcorn,CHICAGO,Wells Street Popcorn,Restaurant,2010-02-01T00:00:00.000,Canvass,41.932921,1954774.0,"{'type': 'Point', 'coordinates': [-87.64515454...",-87.645155,Pass,Risk 2 (Medium),IL,NaN,60657.0
1335320,2409 N WESTERN AVE,CHICAGO CUPCAKE,CHICAGO,CHICAGO CUPCAKE LLC.,Mobile Food Dispenser,2013-05-03T00:00:00.000,License Re-Inspection,41.925218,2232391.0,"{'type': 'Point', 'coordinates': [-87.68750659...",-87.687507,Fail,Risk 3 (Low),IL,32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...,60647.0

## Indexing

To look at a column from a DataFrame, you can either use attribute lookup.

In [8]:
dta.address[1:3]

inspection_id
1329698     5958 W DIVERSEY AVE
470787     5400-5402 N CLARK ST
Name: address, dtype: object

Or you can use the **getitem** syntax that relies on square brackets `[]`, which is familiar from dealing with dictionaries (uses `__getitem__`).

In [9]:
dta['address']

inspection_id
1965287          5255 W MADISON ST
1329698        5958 W DIVERSEY AVE
470787        5400-5402 N CLARK ST
68091              2804 N CLARK ST
1335320         2409 N WESTERN AVE
                     ...
2059771            333 E BENTON PL
1965378              1664 N ADA ST
1490395       5451 S WENTWORTH AVE
1326565    8524 S STONY ISLAND AVE
413268           518-520 E 79TH ST
Name: address, Length: 25000, dtype: object

These two operations return pandas **Series** objects. **Series** are like single-column DataFrames. If you want to preserve the DataFrame type, index the DataFrame with a list.

In [10]:
dta[['address','city']]

                                address     city
inspection_id
1965287              5255 W MADISON ST   CHICAGO
1329698            5958 W DIVERSEY AVE   CHICAGO
470787            5400-5402 N CLARK ST   CHICAGO
68091                  2804 N CLARK ST   CHICAGO
1335320             2409 N WESTERN AVE   CHICAGO
...                                 ...      ...
2059771                333 E BENTON PL   CHICAGO
1965378                  1664 N ADA ST   CHICAGO
1490395           5451 S WENTWORTH AVE   CHICAGO
1326565        8524 S STONY ISLAND AVE   CHICAGO
413268               518-520 E 79TH ST   CHICAGO

[25000 rows x 2 columns]

You can use this syntax to pull out multiple columns.

In [ ]:
dta[['address', 'inspection_date']]

You can index the rows, by using the **loc** and **iloc** accessors.

`loc` does *label-based* indexing.

In [12]:
dta.loc[[1965287, 1329698]]

,address,aka_name,city,dba_name,facility_type,inspection_date,inspection_type,latitude,license_,location,longitude,results,risk,state,violations,zip
inspection_id,,,,,,,,,,,,,,,,
1965287,5255 W MADISON ST,RED SNAPPER FISH CHICKEN & PIZZA,CHICAGO,RED SNAPPER FISH CHICKEN & PIZZA,Restaurant,2016-09-26T00:00:00.000,Canvass,41.880237,1991820.0,"{'type': 'Point', 'coordinates': [-87.75722039...",-87.757220,Pass w/ Conditions,Risk 1 (High),IL,"35. WALLS, CEILINGS, ATTACHED EQUIPMENT CONSTR...",60644.0
1329698,5958 W DIVERSEY AVE,TAQUERIA MORELOS,CHICAGO,TAQUERIA MORELOS,Restaurant,2014-02-06T00:00:00.000,Canvass,41.931250,2099479.0,"{'type': 'Point', 'coordinates': [-87.77590699...",-87.775907,Pass,Risk 1 (High),IL,33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...,60639.0

`iloc` on the other hand provides *integer-based* indexing. We can pass a list of rows integers.

In [13]:
dta.iloc[[0, 2]]

,address,aka_name,city,dba_name,facility_type,inspection_date,inspection_type,latitude,license_,location,longitude,results,risk,state,violations,zip
inspection_id,,,,,,,,,,,,,,,,
1965287,5255 W MADISON ST,RED SNAPPER FISH CHICKEN & PIZZA,CHICAGO,RED SNAPPER FISH CHICKEN & PIZZA,Restaurant,2016-09-26T00:00:00.000,Canvass,41.880237,1991820.0,"{'type': 'Point', 'coordinates': [-87.75722039...",-87.757220,Pass w/ Conditions,Risk 1 (High),IL,"35. WALLS, CEILINGS, ATTACHED EQUIPMENT CONSTR...",60644.0
470787,5400-5402 N CLARK ST,HAMBURGER MARY'S/MARY'S REC ROOM,CHICAGO,HAMBURGER MARY'S CHICAGO/MARY'S REC ROOM,Restaurant,2010-12-03T00:00:00.000,SFP,41.979884,1933748.0,"{'type': 'Point', 'coordinates': [-87.66842948...",-87.668429,Fail,Risk 1 (High),IL,"6. HANDS WASHED AND CLEANED, GOOD HYGIENIC PRA...",60640.0

Both support the Python **slice notation** (`start:stop:step`). This can be really powerful.

In [14]:
dta.iloc[:5]

,address,aka_name,city,dba_name,facility_type,inspection_date,inspection_type,latitude,license_,location,longitude,results,risk,state,violations,zip
inspection_id,,,,,,,,,,,,,,,,
1965287,5255 W MADISON ST,RED SNAPPER FISH CHICKEN & PIZZA,CHICAGO,RED SNAPPER FISH CHICKEN & PIZZA,Restaurant,2016-09-26T00:00:00.000,Canvass,41.880237,1991820.0,"{'type': 'Point', 'coordinates': [-87.75722039...",-87.757220,Pass w/ Conditions,Risk 1 (High),IL,"35. WALLS, CEILINGS, ATTACHED EQUIPMENT CONSTR...",60644.0
1329698,5958 W DIVERSEY AVE,TAQUERIA MORELOS,CHICAGO,TAQUERIA MORELOS,Restaurant,2014-02-06T00:00:00.000,Canvass,41.931250,2099479.0,"{'type': 'Point', 'coordinates': [-87.77590699...",-87.775907,Pass,Risk 1 (High),IL,33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...,60639.0
470787,5400-5402 N CLARK ST,HAMBURGER MARY'S/MARY'S REC ROOM,CHICAGO,HAMBURGER MARY'S CHICAGO/MARY'S REC ROOM,Restaurant,2010-12-03T00:00:00.000,SFP,41.979884,1933748.0,"{'type': 'Point', 'coordinates': [-87.66842948...",-87.668429,Fail,Risk 1 (High),IL,"6. HANDS WASHED AND CLEANED, GOOD HYGIENIC PRA...",60640.0
68091,2804 N CLARK ST,Wells Street Popcorn,CHICAGO,Wells Street Popcorn,Restaurant,2010-02-01T00:00:00.000,Canvass,41.932921,1954774.0,"{'type': 'Point', 'coordinates': [-87.64515454...",-87.645155,Pass,Risk 2 (Medium),IL,NaN,60657.0
1335320,2409 N WESTERN AVE,CHICAGO CUPCAKE,CHICAGO,CHICAGO CUPCAKE LLC.,Mobile Food Dispenser,2013-05-03T00:00:00.000,License Re-Inspection,41.925218,2232391.0,"{'type': 'Point', 'coordinates': [-87.68750659...",-87.687507,Fail,Risk 3 (Low),IL,32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...,60647.0

In [15]:
dta.loc[:1335320]

,address,aka_name,city,dba_name,facility_type,inspection_date,inspection_type,latitude,license_,location,longitude,results,risk,state,violations,zip
inspection_id,,,,,,,,,,,,,,,,
1965287,5255 W MADISON ST,RED SNAPPER FISH CHICKEN & PIZZA,CHICAGO,RED SNAPPER FISH CHICKEN & PIZZA,Restaurant,2016-09-26T00:00:00.000,Canvass,41.880237,1991820.0,"{'type': 'Point', 'coordinates': [-87.75722039...",-87.757220,Pass w/ Conditions,Risk 1 (High),IL,"35. WALLS, CEILINGS, ATTACHED EQUIPMENT CONSTR...",60644.0
1329698,5958 W DIVERSEY AVE,TAQUERIA MORELOS,CHICAGO,TAQUERIA MORELOS,Restaurant,2014-02-06T00:00:00.000,Canvass,41.931250,2099479.0,"{'type': 'Point', 'coordinates': [-87.77590699...",-87.775907,Pass,Risk 1 (High),IL,33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...,60639.0
470787,5400-5402 N CLARK ST,HAMBURGER MARY'S/MARY'S REC ROOM,CHICAGO,HAMBURGER MARY'S CHICAGO/MARY'S REC ROOM,Restaurant,2010-12-03T00:00:00.000,SFP,41.979884,1933748.0,"{'type': 'Point', 'coordinates': [-87.66842948...",-87.668429,Fail,Risk 1 (High),IL,"6. HANDS WASHED AND CLEANED, GOOD HYGIENIC PRA...",60640.0
68091,2804 N CLARK ST,Wells Street Popcorn,CHICAGO,Wells Street Popcorn,Restaurant,2010-02-01T00:00:00.000,Canvass,41.932921,1954774.0,"{'type': 'Point', 'coordinates': [-87.64515454...",-87.645155,Pass,Risk 2 (Medium),IL,NaN,60657.0
1335320,2409 N WESTERN AVE,CHICAGO CUPCAKE,CHICAGO,CHICAGO CUPCAKE LLC.,Mobile Food Dispenser,2013-05-03T00:00:00.000,License Re-Inspection,41.925218,2232391.0,"{'type': 'Point', 'coordinates': [-87.68750659...",-87.687507,Fail,Risk 3 (Low),IL,32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...,60647.0

Note that these inspection ids are *not* sorted, yet we can still use slice notation.

Of course, we can also combine row and index labeling.

In [18]:
dta.iloc[:5, [0, 5]]

                             address          inspection_date
inspection_id
1965287           5255 W MADISON ST   2016-09-26T00:00:00.000
1329698         5958 W DIVERSEY AVE   2014-02-06T00:00:00.000
470787         5400-5402 N CLARK ST   2010-12-03T00:00:00.000
68091               2804 N CLARK ST   2010-02-01T00:00:00.000
1335320          2409 N WESTERN AVE   2013-05-03T00:00:00.000

In [19]:
dta.loc[:68091, ["address", "inspection_date"]]

                             address          inspection_date
inspection_id
1965287           5255 W MADISON ST   2016-09-26T00:00:00.000
1329698         5958 W DIVERSEY AVE   2014-02-06T00:00:00.000
470787         5400-5402 N CLARK ST   2010-12-03T00:00:00.000
68091               2804 N CLARK ST   2010-02-01T00:00:00.000

In [20]:
dta.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25000 entries, 1965287 to 413268
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   address          25000 non-null  object
 1   aka_name         24709 non-null  object
 2   city             24981 non-null  object
 3   dba_name         25000 non-null  object
 4   facility_type    24787 non-null  object
 5   inspection_date  25000 non-null  object
 6   inspection_type  25000 non-null  object
 7   latitude         24865 non-null  float64
 8   license_         24996 non-null  float64
 9   location         24865 non-null  object
 10  longitude        24865 non-null  float64
 11  results          25000 non-null  object
 12  risk             24995 non-null  object
 13  state            24994 non-null  object
 14  violations       23908 non-null  object
 15  zip              24990 non-null  float64
dtypes: float64(4), object(12)
memory usage: 3.9+ MB

In [24]:
dta.results = dta.results.astype('category')
dta.risk = dta.risk.astype('category')
dta.inspection_type = dta.inspection_type.astype('category')
dta.facility_type = dta.facility_type.astype('category')

If we only select the categorical types, we can see some categorical variables descriptions.

We can use the `select_dtypes` method to pull out a DataFrame with only the asked for types.

In [25]:
dta.select_dtypes(['category'])

,facility_type,inspection_type,results,risk
inspection_id,,,,
1965287,Restaurant,Canvass,Pass w/ Conditions,Risk 1 (High)
1329698,Restaurant,Canvass,Pass,Risk 1 (High)
470787,Restaurant,SFP,Fail,Risk 1 (High)
68091,Restaurant,Canvass,Pass,Risk 2 (Medium)
1335320,Mobile Food Dispenser,License Re-Inspection,Fail,Risk 3 (Low)
...,...,...,...,...
2059771,Restaurant,Canvass,Pass,Risk 1 (High)
1965378,Restaurant,Canvass,Pass,Risk 1 (High)
1490395,Restaurant,Short Form Complaint,Pass,Risk 2 (Medium)
1326565,Restaurant,Complaint,Pass,Risk 2 (Medium)
413268,Daycare Combo 1586,License,Pass,Risk 1 (High)

Finally, we might want to exclude a column like `location` since we have the separate `latitude` and `longitude` columns. We can delete columns in a DataFrame using Python's built-in `del` statement.

In [ ]:
del dta['location']

## String Cleaning

Ok, let's start to dig into the data a little bit more. One of the things we're going to be really interested in exploring is the free text of the violations field.

The first thing to notice is that the violations field has null values in it.

In [27]:
dta.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25000 entries, 1965287 to 413268
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   address          25000 non-null  object
 1   aka_name         24709 non-null  object
 2   city             24981 non-null  object
 3   dba_name         25000 non-null  object
 4   facility_type    24787 non-null  category
 5   inspection_date  25000 non-null  object
 6   inspection_type  25000 non-null  category
 7   latitude         24865 non-null  float64
 8   license_         24996 non-null  float64
 9   location         24865 non-null  object
 10  longitude        24865 non-null  float64
 11  results          25000 non-null  category
 12  risk             24995 non-null  category
 13  state            24994 non-null  object
 14  violations       23908 non-null  object
 15  zip              24990 non-null  float64
dtypes: category(4), float64(4), object(8)
memory usage: 3.2+ MB

We may want to ask ourselves if these values are missing at random or if there is some reason there's no written violation field.

In [26]:
dta.loc[dta.violations.isnull()].head()

,address,aka_name,city,dba_name,facility_type,inspection_date,inspection_type,latitude,license_,location,longitude,results,risk,state,violations,zip
inspection_id,,,,,,,,,,,,,,,,
68091,2804 N CLARK ST,Wells Street Popcorn,CHICAGO,Wells Street Popcorn,Restaurant,2010-02-01T00:00:00.000,Canvass,41.932921,1954774.0,"{'type': 'Point', 'coordinates': [-87.64515454...",-87.645155,Pass,Risk 2 (Medium),IL,NaN,60657.0
233722,3121 W CERMAK RD,TAQUERIA EL PALMAR,CHICAGO,TAQUERIA EL PALMAR,NaN,2010-05-11T00:00:00.000,Canvass,41.851674,1243326.0,"{'type': 'Point', 'coordinates': [-87.70378752...",-87.703788,Fail,Risk 1 (High),IL,NaN,60623.0
284278,3813-3815 W CHICAGO AVE,SUGA RAY'S SPORTS GRILL,CHICAGO,SUGA RAY'S SPORTS GRILL,Restaurant,2010-08-12T00:00:00.000,Canvass,41.895297,1922230.0,"{'type': 'Point', 'coordinates': [-87.72179977...",-87.721800,Out of Business,Risk 2 (Medium),IL,NaN,60651.0
231272,1204 W 36TH PL,MOBILE TRUCK #13,CHICAGO,THUNDERBIRD CATERING,Mobile Food Dispenser,2010-03-22T00:00:00.000,License,41.828094,1476473.0,"{'type': 'Point', 'coordinates': [-87.65585369...",-87.655854,Pass,Risk 3 (Low),IL,NaN,60609.0
277874,2826 N LINCOLN AVE,MGM Catering,CHICAGO,MGM Catering,Catering,2010-08-02T00:00:00.000,License,41.933101,2037141.0,"{'type': 'Point', 'coordinates': [-87.65968295...",-87.659683,Pass,Risk 1 (High),IL,NaN,60657.0

It looks like we're ok. The next thing to notice is that the violation field actually has a lot of violations in the same field for the same visit.

In [39]:
with pd.option_context("display.max_colwidth", 500):
    print(dta.violations.head())

0    35. WALLS, CEILINGS, ATTACHED EQUIPMENT CONSTRUCTED PER CODE: GOOD REPAIR, SURFACES CLEAN AND DUST-LESS CLEANING METHODS - Comments: MUST CLEAN THE WALLS AT WALL BASE NEAR THE MIXER IN REAR OF PREMISES AND THE PREP AREA OF FOOD SPILLS AND CLEAN THE WALL VENT IN PREP AREA ,INSTRUCTED TO CLEAN AND MAINTAIN AREA | 33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSILS CLEAN, FREE OF ABRASIVE DETERGENTS - Comments: MUST CLEAN THE INTERIOR PANEL OF THE ICE MACHINE IN REAR OF PREMISES | 34. FLOORS: CONS...
1    33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSILS CLEAN, FREE OF ABRASIVE DETERGENTS - Comments: Non food contact surfaces of ice machine not clean, needs cleaning. \nNon food contact surfaces of cooler shelving/racks not clean, need cleaning. \nPrep table lower shelving not clean, need detailed cleaning(crevices). | 34. FLOORS: CONSTRUCTED PER CODE, CLEANED, GOOD REPAIR, COVING INSTALLED, DUST-LESS CLEANING METHODS USED - Comments: Floors under heavy equipment, cooking equipment not clean, n...
2    6. HANDS WASHED AND CLEANED, GOOD HYGIENIC PRACTICES; NO BARE HAND CONTACT WITH READY-TO-EAT FOODS. - Comments: All employees who handle food shall wash their hands as often as necessary to maintain a high degree of personal cleanliness and should conform to hygienic practices prescribed by the Board of Health. \n \nPOOR HYGIENIC PRACTICES. OBSERVED EMPLOYEE ENTERING THE KITCHEN SET UP DIRTY DISHES IN A TRAY,PUT IT THROUGH THE  DISH MACHINE AND WITHOUT WASHING HANDS COLLECTED,AND STORED  CLE...
3                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    NaN
4    32. FOOD AND NON-FOOD CONTACT SURFACES PROPERLY DESIGNED, CONSTRUCTED AND MAINTAINED - Comments: THE PIPING MATERIAL USED FOR THE FRESH WATER SUPPLY INSIDE THE (MFD)TRUCK MUST BE FOOD GRADE/NSF APPROVED PROVIDE DOCUMENTATION. \n | 38. VENTILATION: ROOMS AND EQUIPMENT VENTED AS REQUIRED: PLUMBING: INSTALLED AND MAINTAINED - Comments: MUST REPAIR WATER LEAK AT DRAIN PIPE BENEATH THE EXPOSED HANDSINK. | 9. WATER SOURCE: SAFE, HOT & COLD UNDER CITY PRESSURE - Comments: VIOLATION CORRECTED. | 12....
Name: violations, dtype: object

In [28]:
dta.describe()

           latitude      license_     longitude           zip
count  24865.000000  2.499600e+04  24865.000000  24990.000000
mean      41.879734  1.475028e+06    -87.675890  60628.764586
std        0.081968  8.912679e+05      0.058372     24.599858
min       41.644670  0.000000e+00    -87.914428  60007.000000
25%       41.828059  1.000632e+06    -87.707209  60614.000000
50%       41.891528  1.884173e+06    -87.666377  60625.000000
75%       41.939792  2.134724e+06    -87.634533  60643.000000
max       42.021064  8.700606e+06    -87.525125  60827.000000

# GroupBy
Now, let's ask the most obvious question. Which are the best and the worst restaurants? We'll want to use pandas GroupBy functionality to implement the split-apply-combine pattern.

The idea here is that we split the data by some key or set of keys then apply a function to each group and then combine the outputs back into a single DataFrame.

First, let's see how many result categories there are. We can use value_counts to answer this question.

In [11]:
with pd.option_context("max.rows", 10):
    print(dta.results.value_counts())

Pass                    15915
Fail                     5760
Pass w/ Conditions       2931
Out of Business           246
No Entry                  107
Not Ready                  40
Business Not Located        1
Name: results, dtype: int64

In [62]:
# Practice
import pandas as pd
df = pd.read_csv("health_inspection_chi.csv")
# df is my dataframe

# print top i rows default is 5
df.head(5)
# print bottom i rows default is 5
df.tail(1)


## Read Headers/column names
df.columns
# gets data by column name and then slices it 
df['aka_name'][0:5]

# Gets the actual value
df['aka_name'][0:5][1]

# Get multiple columns
df[['aka_name','dba_name']][0:5]

# Read each a row use iloc which stands for integer location
df.iloc[1]

# Read multiple rows
df.iloc[1:4]

# Read a specific location (R,C)
df.iloc[2,1]

# iterate 
'''
for index,row in df.iterrows():
    print(index,row['dba_name'])
'''

# query with loc
df.loc[df['risk'] == 'Risk 1 (High)']

#describe gives high level mediation stats
df.describe()

#sorting by values
df.sort_values(['dba_name','address'], ascending=[1,0])

,address,aka_name,city,dba_name,facility_type,inspection_date,inspection_id,inspection_type,latitude,license_,location,longitude,results,risk,state,violations,zip
1881,4307 W IRVING PARK RD,#1 CHOP SUEY,CHICAGO,#1 CHOP SUEY,Restaurant,2011-06-03T00:00:00.000,539314,Complaint,41.953443,1970042.0,"{'type': 'Point', 'coordinates': [-87.73576333...",-87.735763,Pass,Risk 1 (High),IL,"34. FLOORS: CONSTRUCTED PER CODE, CLEANED, GOO...",60641.0
2390,4307 W IRVING PARK RD,#1 CHOP SUEY,CHICAGO,#1 CHOP SUEY,Restaurant,2012-04-24T00:00:00.000,1194258,Complaint,41.953443,1970042.0,"{'type': 'Point', 'coordinates': [-87.73576333...",-87.735763,Pass,Risk 1 (High),IL,"30. FOOD IN ORIGINAL CONTAINER, PROPERLY LABEL...",60641.0
13752,4307 W IRVING PARK RD,#1 CHOP SUEY,CHICAGO,#1 CHOP SUEY,Restaurant,2014-06-17T00:00:00.000,1473761,Canvass Re-Inspection,41.953443,1970042.0,"{'type': 'Point', 'coordinates': [-87.73576333...",-87.735763,Pass,Risk 1 (High),IL,18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...,60641.0
1060,1408 E 53RD ST,#1 WOK N ROLL,CHICAGO,#1 WOK N ROLL,Restaurant,2013-04-25T00:00:00.000,1319513,Canvass Re-Inspection,41.799626,58961.0,"{'type': 'Point', 'coordinates': [-87.59137367...",-87.591374,Pass,Risk 1 (High),IL,18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...,60615.0
6083,1408 E 53RD ST,#1 WOK N ROLL,CHICAGO,#1 WOK N ROLL,Restaurant,2012-12-26T00:00:00.000,1319301,Complaint Re-Inspection,41.799626,58961.0,"{'type': 'Point', 'coordinates': [-87.59137367...",-87.591374,Pass,Risk 1 (High),IL,18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...,60615.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16080,7832 S western AVE,mcdonalds,CHICAGO,mcdonalds,Restaurant,2010-03-05T00:00:00.000,176504,Complaint,41.750932,1979615.0,"{'type': 'Point', 'coordinates': [-87.68301753...",-87.683018,Fail,Risk 2 (Medium),IL,NaN,60620.0
3337,5645 W BELMONT AVE,mr.daniel's,CHICAGO,mr.daniel's,Restaurant,2010-08-11T00:00:00.000,284254,Complaint,41.938443,1899292.0,"{'type': 'Point', 'coordinates': [-87.76831838...",-87.768318,Pass,Risk 1 (High),IL,NaN,60634.0
19500,4425 N Magnolia AVE,NaN,CHICAGO,stockton,School,2010-11-08T00:00:00.000,456334,Canvass,41.962470,2058663.0,"{'type': 'Point', 'coordinates': [-87.66083184...",-87.660832,Fail,Risk 1 (High),IL,29. PREVIOUS MINOR VIOLATION(S) CORRECTED 7-42...,60640.0
21513,4425 N Magnolia AVE,NaN,CHICAGO,stockton,School,2010-11-19T00:00:00.000,462691,Canvass Re-Inspection,41.962470,2058663.0,"{'type': 'Point', 'coordinates': [-87.66083184...",-87.660832,Pass,Risk 1 (High),IL,29. PREVIOUS MINOR VIOLATION(S) CORRECTED 7-42...,60640.0
16454,3348 W lawrence AVE,NaN,CHICAGO,subway restaurant 1,Restaurant,2010-11-24T00:00:00.000,391281,Canvass,41.968514,1820446.0,"{'type': 'Point', 'coordinates': [-87.71288466...",-87.712885,Pass w/ Conditions,Risk 1 (High),IL,4. SOURCE OF CROSS CONTAMINATION CONTROLLED I....,60625.0

# Exercise
GroupBy the dba_name. Use get_group to pull out the "MCDONALD'S" group. Write a function that calculates the relative number of Fail to Pass for this group. Run this function on the McDonald's group.

In [168]:
import pandas as pd
def how_many_fail_pass(group):
    df = pd.read_csv("health_inspection_chi.csv")
    passed = (df.query("results == 'Pass' | results == 'Pass w/ Conditions' ")
             .groupby(['dba_name'])
             .get_group(group))
    failed = (df.query("results == 'Fail'")
             .groupby(['dba_name'])
             .get_group(group))
    ratio = len(failed) / len(passed)
    print('In %s group The fail Pass ratio is %f' % (group,ratio))

  

how_many_fail_pass("MCDONALD'S")

In MCDONALD'S group The fail Pass ratio is 0.408163

Ok, let's make things a little more challenging. Let's see what the Fail:Pass ratio is for restaurants with at least 3 visits that involved a high risk level.

Now we're starting to get into some much more powerful pandas constructs.

In [157]:
visited = (dta.query("risk == 'Risk 1 (High)'")
           .groupby(['address', 'dba_name'])
           .size()
           .rename('n_visits')
           .reset_index()  # make into a DataFrame
           .query("n_visits >= 4"))
visited

,address,dba_name,n_visits
0,1 E 113TH ST,"V & J DAY CARE CENTER, INC",6
2,1 E JACKSON BLVD,Chartwells @ DePaul University,5
4,1 E WACKER DR,MCCORMICK & SCHMICK'S SEAFOOD RESTAURANT,4
18,1 W WACKER DR,RENAISSANCE CHICAGO HOTEL,4
26,10 N DEARBORN ST,SOPRAFFINA,4
...,...,...,...
9054,958 - 960 W BELMONT AVE,CHEESIES PUB & GRUB,5
9058,958 W WEBSTER AVE,JAM N' HONEY,4
9069,970 E 58TH ST,UNIVERSITY OF CHICAGO BOOKSTORE # 491,4
9076,9755 S Greenwood (1100E),SCHMID,4
9084,9833 S THROOP,ST MARGARET ELEMENTARY,5

In [18]:
dta.query("risk == 'Risk 1 (High)'")

,address,aka_name,city,dba_name,facility_type,inspection_date,inspection_id,inspection_type,latitude,license_,location,longitude,results,risk,state,violations,zip
0,5255 W MADISON ST,RED SNAPPER FISH CHICKEN & PIZZA,CHICAGO,RED SNAPPER FISH CHICKEN & PIZZA,Restaurant,2016-09-26T00:00:00.000,1965287,Canvass,41.880237,1991820.0,"{'type': 'Point', 'coordinates': [-87.75722039...",-87.757220,Pass w/ Conditions,Risk 1 (High),IL,"35. WALLS, CEILINGS, ATTACHED EQUIPMENT CONSTR...",60644.0
1,5958 W DIVERSEY AVE,TAQUERIA MORELOS,CHICAGO,TAQUERIA MORELOS,Restaurant,2014-02-06T00:00:00.000,1329698,Canvass,41.931250,2099479.0,"{'type': 'Point', 'coordinates': [-87.77590699...",-87.775907,Pass,Risk 1 (High),IL,33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...,60639.0
2,5400-5402 N CLARK ST,HAMBURGER MARY'S/MARY'S REC ROOM,CHICAGO,HAMBURGER MARY'S CHICAGO/MARY'S REC ROOM,Restaurant,2010-12-03T00:00:00.000,470787,SFP,41.979884,1933748.0,"{'type': 'Point', 'coordinates': [-87.66842948...",-87.668429,Fail,Risk 1 (High),IL,"6. HANDS WASHED AND CLEANED, GOOD HYGIENIC PRA...",60640.0
6,3201-3203 W ARMITAGE AVE,STREET SIDE CAFE,CHICAGO,STREET SIDE CAFE,Restaurant,2012-09-27T00:00:00.000,1285582,Canvass,41.917291,84648.0,"{'type': 'Point', 'coordinates': [-87.70705160...",-87.707052,Pass w/ Conditions,Risk 1 (High),IL,"16. FOOD PROTECTED DURING STORAGE, PREPARATION...",60647.0
8,4445 S Drexel (900E),KING COLLEGE PREP HIGH SCHOOL,CHICAGO,KING SELECTIVE ENROL.H/S,School,2010-05-26T00:00:00.000,74468,Canvass,41.813695,46371.0,"{'type': 'Point', 'coordinates': [-87.60383761...",-87.603838,Pass,Risk 1 (High),IL,32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...,60653.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24993,1300 E 47TH ST,MICHAEL'S FRESH MARKET,CHICAGO,MICHAELS FRESH MARKET,Grocery Store,2011-09-09T00:00:00.000,531556,Short Form Complaint,41.809773,2043177.0,"{'type': 'Point', 'coordinates': [-87.59496089...",-87.594961,Pass,Risk 1 (High),IL,"34. FLOORS: CONSTRUCTED PER CODE, CLEANED, GOO...",60653.0
24994,301 E NORTH WATER ST,ROOM SERVICE,CHICAGO,SHERATON CHICAGO HOTEL/TOWER,Restaurant,2010-07-22T00:00:00.000,325228,Canvass,41.889458,23331.0,"{'type': 'Point', 'coordinates': [-87.62036837...",-87.620368,Fail,Risk 1 (High),IL,18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...,60611.0
24995,333 E BENTON PL,SUBWAY,CHICAGO,SUBWAY,Restaurant,2017-06-07T00:00:00.000,2059771,Canvass,41.885390,2202890.0,"{'type': 'Point', 'coordinates': [-87.61898671...",-87.618987,Pass,Risk 1 (High),IL,"41. PREMISES MAINTAINED FREE OF LITTER, UNNECE...",60601.0
24996,1664 N ADA ST,ADA STREET-DMK,CHICAGO,ADA STREET,Restaurant,2016-09-27T00:00:00.000,1965378,Canvass,41.912568,2114079.0,"{'type': 'Point', 'coordinates': [-87.66216724...",-87.662167,Pass,Risk 1 (High),IL,33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...,60642.0
24999,518-520 E 79TH ST,YOUNG ACHIEVERS ACADEMY,CHICAGO,YOUNG ACHIEVERS ACADEMY,Daycare Combo 1586,2010-09-10T00:00:00.000,413268,License,41.751282,2017190.0,"{'type': 'Point', 'coordinates': [-87.61169136...",-87.611691,Pass,Risk 1 (High),IL,NaN,60619.0

Let's unpack this. The first thing to note is how this code is organized. Each one of these methods return a pandas data structure on which we call the next method. This is called method chaining. We use the same trick seen above to split strings across lines to split several method calls by including the code between ().

Next, we see several new methods. The first is query. When subsetting a DataFrame we have a few options. As we save above, we can index a DataFrame using integers. Likewise, we could pass an object of booleans as well.

In [31]:
dta.risk == "Risk 1 (High)"

inspection_id
1965287     True
1329698     True
470787      True
68091      False
1335320    False
           ...
2059771     True
1965378     True
1490395    False
1326565    False
413268      True
Name: risk, Length: 25000, dtype: bool

In [46]:
dta.loc[dta.risk == "Risk 1 (High)"]

,address,aka_name,city,dba_name,facility_type,inspection_date,inspection_id,inspection_type,latitude,license_,location,longitude,results,risk,state,violations,zip
0,5255 W MADISON ST,RED SNAPPER FISH CHICKEN & PIZZA,CHICAGO,RED SNAPPER FISH CHICKEN & PIZZA,Restaurant,2016-09-26T00:00:00.000,1965287,Canvass,41.880237,1991820.0,"{'type': 'Point', 'coordinates': [-87.75722039...",-87.757220,Pass w/ Conditions,Risk 1 (High),IL,"35. WALLS, CEILINGS, ATTACHED EQUIPMENT CONSTR...",60644.0
1,5958 W DIVERSEY AVE,TAQUERIA MORELOS,CHICAGO,TAQUERIA MORELOS,Restaurant,2014-02-06T00:00:00.000,1329698,Canvass,41.931250,2099479.0,"{'type': 'Point', 'coordinates': [-87.77590699...",-87.775907,Pass,Risk 1 (High),IL,33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...,60639.0
2,5400-5402 N CLARK ST,HAMBURGER MARY'S/MARY'S REC ROOM,CHICAGO,HAMBURGER MARY'S CHICAGO/MARY'S REC ROOM,Restaurant,2010-12-03T00:00:00.000,470787,SFP,41.979884,1933748.0,"{'type': 'Point', 'coordinates': [-87.66842948...",-87.668429,Fail,Risk 1 (High),IL,"6. HANDS WASHED AND CLEANED, GOOD HYGIENIC PRA...",60640.0
6,3201-3203 W ARMITAGE AVE,STREET SIDE CAFE,CHICAGO,STREET SIDE CAFE,Restaurant,2012-09-27T00:00:00.000,1285582,Canvass,41.917291,84648.0,"{'type': 'Point', 'coordinates': [-87.70705160...",-87.707052,Pass w/ Conditions,Risk 1 (High),IL,"16. FOOD PROTECTED DURING STORAGE, PREPARATION...",60647.0
8,4445 S Drexel (900E),KING COLLEGE PREP HIGH SCHOOL,CHICAGO,KING SELECTIVE ENROL.H/S,School,2010-05-26T00:00:00.000,74468,Canvass,41.813695,46371.0,"{'type': 'Point', 'coordinates': [-87.60383761...",-87.603838,Pass,Risk 1 (High),IL,32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...,60653.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24993,1300 E 47TH ST,MICHAEL'S FRESH MARKET,CHICAGO,MICHAELS FRESH MARKET,Grocery Store,2011-09-09T00:00:00.000,531556,Short Form Complaint,41.809773,2043177.0,"{'type': 'Point', 'coordinates': [-87.59496089...",-87.594961,Pass,Risk 1 (High),IL,"34. FLOORS: CONSTRUCTED PER CODE, CLEANED, GOO...",60653.0
24994,301 E NORTH WATER ST,ROOM SERVICE,CHICAGO,SHERATON CHICAGO HOTEL/TOWER,Restaurant,2010-07-22T00:00:00.000,325228,Canvass,41.889458,23331.0,"{'type': 'Point', 'coordinates': [-87.62036837...",-87.620368,Fail,Risk 1 (High),IL,18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...,60611.0
24995,333 E BENTON PL,SUBWAY,CHICAGO,SUBWAY,Restaurant,2017-06-07T00:00:00.000,2059771,Canvass,41.885390,2202890.0,"{'type': 'Point', 'coordinates': [-87.61898671...",-87.618987,Pass,Risk 1 (High),IL,"41. PREMISES MAINTAINED FREE OF LITTER, UNNECE...",60601.0
24996,1664 N ADA ST,ADA STREET-DMK,CHICAGO,ADA STREET,Restaurant,2016-09-27T00:00:00.000,1965378,Canvass,41.912568,2114079.0,"{'type': 'Point', 'coordinates': [-87.66216724...",-87.662167,Pass,Risk 1 (High),IL,33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...,60642.0
24999,518-520 E 79TH ST,YOUNG ACHIEVERS ACADEMY,CHICAGO,YOUNG ACHIEVERS ACADEMY,Daycare Combo 1586,2010-09-10T00:00:00.000,413268,License,41.751282,2017190.0,"{'type': 'Point', 'coordinates': [-87.61169136...",-87.611691,Pass,Risk 1 (High),IL,NaN,60619.0

In [32]:
dta.loc[(dta.risk == "Risk 1 (High)") | (dta.risk == "Risk 1 (Medium)")].head()

,address,aka_name,city,dba_name,facility_type,inspection_date,inspection_type,latitude,license_,location,longitude,results,risk,state,violations,zip
inspection_id,,,,,,,,,,,,,,,,
1965287,5255 W MADISON ST,RED SNAPPER FISH CHICKEN & PIZZA,CHICAGO,RED SNAPPER FISH CHICKEN & PIZZA,Restaurant,2016-09-26T00:00:00.000,Canvass,41.880237,1991820.0,"{'type': 'Point', 'coordinates': [-87.75722039...",-87.757220,Pass w/ Conditions,Risk 1 (High),IL,"35. WALLS, CEILINGS, ATTACHED EQUIPMENT CONSTR...",60644.0
1329698,5958 W DIVERSEY AVE,TAQUERIA MORELOS,CHICAGO,TAQUERIA MORELOS,Restaurant,2014-02-06T00:00:00.000,Canvass,41.931250,2099479.0,"{'type': 'Point', 'coordinates': [-87.77590699...",-87.775907,Pass,Risk 1 (High),IL,33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...,60639.0
470787,5400-5402 N CLARK ST,HAMBURGER MARY'S/MARY'S REC ROOM,CHICAGO,HAMBURGER MARY'S CHICAGO/MARY'S REC ROOM,Restaurant,2010-12-03T00:00:00.000,SFP,41.979884,1933748.0,"{'type': 'Point', 'coordinates': [-87.66842948...",-87.668429,Fail,Risk 1 (High),IL,"6. HANDS WASHED AND CLEANED, GOOD HYGIENIC PRA...",60640.0
1285582,3201-3203 W ARMITAGE AVE,STREET SIDE CAFE,CHICAGO,STREET SIDE CAFE,Restaurant,2012-09-27T00:00:00.000,Canvass,41.917291,84648.0,"{'type': 'Point', 'coordinates': [-87.70705160...",-87.707052,Pass w/ Conditions,Risk 1 (High),IL,"16. FOOD PROTECTED DURING STORAGE, PREPARATION...",60647.0
74468,4445 S Drexel (900E),KING COLLEGE PREP HIGH SCHOOL,CHICAGO,KING SELECTIVE ENROL.H/S,School,2010-05-26T00:00:00.000,Canvass,41.813695,46371.0,"{'type': 'Point', 'coordinates': [-87.60383761...",-87.603838,Pass,Risk 1 (High),IL,32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...,60653.0

In [48]:
#Instead, by using query we could write the following, which is slightly easier.
dta.query("(risk == 'Risk 1 (High)') | (risk == 'Risk 1 (Medium)')").head()

,address,aka_name,city,dba_name,facility_type,inspection_date,inspection_id,inspection_type,latitude,license_,location,longitude,results,risk,state,violations,zip
0,5255 W MADISON ST,RED SNAPPER FISH CHICKEN & PIZZA,CHICAGO,RED SNAPPER FISH CHICKEN & PIZZA,Restaurant,2016-09-26T00:00:00.000,1965287,Canvass,41.880237,1991820.0,"{'type': 'Point', 'coordinates': [-87.75722039...",-87.757220,Pass w/ Conditions,Risk 1 (High),IL,"35. WALLS, CEILINGS, ATTACHED EQUIPMENT CONSTR...",60644.0
1,5958 W DIVERSEY AVE,TAQUERIA MORELOS,CHICAGO,TAQUERIA MORELOS,Restaurant,2014-02-06T00:00:00.000,1329698,Canvass,41.931250,2099479.0,"{'type': 'Point', 'coordinates': [-87.77590699...",-87.775907,Pass,Risk 1 (High),IL,33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...,60639.0
2,5400-5402 N CLARK ST,HAMBURGER MARY'S/MARY'S REC ROOM,CHICAGO,HAMBURGER MARY'S CHICAGO/MARY'S REC ROOM,Restaurant,2010-12-03T00:00:00.000,470787,SFP,41.979884,1933748.0,"{'type': 'Point', 'coordinates': [-87.66842948...",-87.668429,Fail,Risk 1 (High),IL,"6. HANDS WASHED AND CLEANED, GOOD HYGIENIC PRA...",60640.0
6,3201-3203 W ARMITAGE AVE,STREET SIDE CAFE,CHICAGO,STREET SIDE CAFE,Restaurant,2012-09-27T00:00:00.000,1285582,Canvass,41.917291,84648.0,"{'type': 'Point', 'coordinates': [-87.70705160...",-87.707052,Pass w/ Conditions,Risk 1 (High),IL,"16. FOOD PROTECTED DURING STORAGE, PREPARATION...",60647.0
8,4445 S Drexel (900E),KING COLLEGE PREP HIGH SCHOOL,CHICAGO,KING SELECTIVE ENROL.H/S,School,2010-05-26T00:00:00.000,74468,Canvass,41.813695,46371.0,"{'type': 'Point', 'coordinates': [-87.60383761...",-87.603838,Pass,Risk 1 (High),IL,32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...,60653.0

# Exercise
Use query to find the visits that are to restaurants and that are complaint re-inspections.

In [232]:
# complaint re-inspections as in the same inspection_date 
# At least thats what i understood from the question :)
reinspections = (df.query("(facility_type == 'Restaurant')")
                  .groupby(['inspection_date', 'dba_name','aka_name','results']).size()
                  .rename('n_visits') 
                  .reset_index()  # make into a DataFrame
                  .query("n_visits >= 2"))

'''reinspections = (df.query("(facility_type == 'Restaurant')")
                  .groupby(['inspection_date', 'dba_name','results']).size()
                  .rename('n_visits') 
                  .reset_index()  # make into a DataFrame
                  .query("n_visits >= 2 & results == 'Pass'"))'''
reinspections

,inspection_date,dba_name,aka_name,results,n_visits
179,2010-02-02T00:00:00.000,JERRY'S SANDWICHES,JERRY'S SANDWICHES,Pass,2
206,2010-02-05T00:00:00.000,LA BOMBA,LA BOMBA RESTAURANT,Pass,2
342,2010-03-04T00:00:00.000,RENO,RENO,Fail,2
368,2010-03-09T00:00:00.000,PALOMAR CHICAGO,BANQUET HALL 5TH FLOOR,Pass,2
607,2010-04-20T00:00:00.000,THE BAR 10 DOORS,THE BAR 10 DOORS,Fail,2
...,...,...,...,...,...
16011,2017-06-07T00:00:00.000,POTBELLY SANDWICH WORKS,POTBELLY SANDWICH WORKS,Pass,2
16412,2017-08-15T00:00:00.000,MARRIOT MARQUIS CHICAGO,MARRIOT MARQUIS CHICAGO,Not Ready,2
16615,2017-09-22T00:00:00.000,M.W. PRINCE HALL GRAND LODGE,M.W. PRINCE HALL GRAND LODGE,Pass,2
16669,2017-10-05T00:00:00.000,GIBSONS ITALIA,GIBSON'S,Pass,2
16703,2017-10-12T00:00:00.000,THEATER ON THE LAKE/THE LAKEFRONT RESTAURANT,THEATER ON THE LAKE/THE LAKEFRONT RESTAURANT,Pass,2

# Exercise
Take this result and pipe it (using the pipe method) to a function that computes Fail/Pass. Make sure your result does not have any missing values, and sort it such that those with the highest Fail/Pass ratios are highest.

The pipe method allows for including user-defined functions in method chains. It takes the output of the thing on the left, and passes it to the thing on the right.

In [233]:
#Defenitley not the cleanst way but i gave it a go
import numpy as np

def how_many_fail_pass(group):
    df = pd.read_csv("health_inspection_chi.csv")
    try:
      passed = (df.query("results == 'Pass' | results == 'Pass w/ Conditions' ")
             .groupby(['dba_name'])
             .get_group(group))
      failed = (df.query("results == 'Fail'")
             .groupby(['dba_name'])
             .get_group(group))
      ratio = len(failed) / len(passed)
      return ratio
    except Exception as e:
      return 0
    
def fail_pass(data):
    ratios = []
    for index,row in data.iterrows():
        ratio = how_many_fail_pass(row['dba_name'])
        ratios.append(ratio)
    return data.insert(0,'Fail/Pass',ratios)

reinspections.pipe(fail_pass)
reinspections.sort_values(['Fail/Pass'], ascending=False)

,Fail/Pass,inspection_date,dba_name,aka_name,results,n_visits
14913,3.0,2016-12-15T00:00:00.000,URBAN INTERESTS,BORELLI'S,Fail,2
342,2.0,2010-03-04T00:00:00.000,RENO,RENO,Fail,2
607,2.0,2010-04-20T00:00:00.000,THE BAR 10 DOORS,THE BAR 10 DOORS,Fail,2
1107,2.0,2010-07-13T00:00:00.000,EL FAMOUS BURRITO,EL FAMOUS BURRITO,Fail,2
6812,1.5,2013-06-18T00:00:00.000,ARAMARK-SOLDIER FIELD,ARAMARK-SOLDIER FIELD,Fail,2
...,...,...,...,...,...,...
5293,0.0,2012-08-30T00:00:00.000,FatPour,FatPour Tap works,Pass,2
6968,0.0,2013-07-16T00:00:00.000,CAFE BRAUER,CAFE BRAUER,Pass,2
5440,0.0,2012-10-03T00:00:00.000,O'VIE BAR AND GRILL,O'VIE BAR & GRILL,Pass,2
6436,0.0,2013-04-16T00:00:00.000,Big Star,Big Star,Pass,2
16703,0.0,2017-10-12T00:00:00.000,THEATER ON THE LAKE/THE LAKEFRONT RESTAURANT,THEATER ON THE LAKE/THE LAKEFRONT RESTAURANT,Pass,2